.box{
    height: 50px;
    width: 50px;
    border: 1px solid #8A5A44;
    margin: 1px;
    /* display: grid; */
    background-color: #E6B8A2;
    box-shadow: 0px 0px 5px;
    
}
.grid{
    display: flex;
    height: 160px;
    width: 162px;
    flex-wrap: wrap;
}
.gridcontainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
html, body{
    height: 100%;
    background-color: #D69F7E;
}
h1{
    margin: 10px;
    color: black;
}
.buttons{
    /* height: 100%; */
    display: flex;
    margin: 30px;

}
button{
    height: 30px;
    width: 100px;
    margin: 10px;
    background-color: #9D6B53;
    border: none;
    border-radius: 50px;
}
button:hover{
    background-color: #b57d62;
}
button:active{
    transform: translateY(2px);
}